---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); 
---
<header x-data="{ showmenu: false }" class="bg-background-pale" >
    <div id="navbar" class="container mx-auto p-3 flex flex-row justify-between items-center">
        <div id="logo" class="">
            <a href="#" class=""><img class="w-40" src="/moon.png" alt=""></a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-4">
                <li class="transition-all duration-500 p-6 rounded text-brown hover:text-green text-2xl"><a href="/Galleri/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Galleri</a></li>
                <li class=" transition-all duration-500 p-6 rounded text-brown hover:text-green text-2xl"><a href="/Kontakt/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Kontakt</a></li>
                <li class="transition-all duration-500 p-6 rounded text-brown hover:text-green text-2xl"><a href="/CV/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>CV</a></li>

            </ul>
        </nav>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center" 
    x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="border-t-2 border-b-2 border-black">
            <li class="text-center py-2"><a href="/" class={currentPath === "" ? "font-bold" : ""}>Forside</a></li>
            <li class="text-center py-2"><a href="/komponentbibliotek/" class={currentPath === "komponentbibliotek/" ? "font-bold" : ""}>Komponentbibliotek</a></li>
        </ul>
    </nav>
</header>