---
---
    <header class="header">
        <div class="burger-menu" onclick="toggleMenu()">&#9776;</div>
        <nav class="nav-menu">
          <a href="index.html">Hjem</a>
          <a href="galleri.html">Galleri</a>
          <a href="#">Services</a>
          <a href="#">Kontakt</a>
        </nav>
      </header>
